.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #eeee;
    font-size: 14px;
}

li{
        display: inline;

}
li :not(:last-child):after
         {
            content: ">";
            margin: 0 5px;
        }

li:last-child {
            font-weight: bold;
        }
    
